*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

.main{
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 100px 1fr 100px;
}

.header, .footer{
  background-color: blue;
}

.sidebar, .navbar{
  background-color: deepskyblue;
}

.content{
  background-color: gray;
}

.header{
  grid-area: 1 / 1 / 2 / 4;
}

.footer{
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}